* {
    color: rgb(31 41 55 );
}
body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Set a clean font */
    /* background-color: #f0f2f5;  */
    background: linear-gradient(19deg, #dee1e3 0%, #f9f9f9 100%);
}

.homepage-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}
.hero {
    text-align: center;
    padding: 40px 20px;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.hero::before {
    content: ""; /* Create a pseudo-element for overlay */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    z-index: 1; /* Ensure it sits above the background image */
}

.hero h1 {
    font-size: 2.75rem;
    line-height: 2.8rem;
    margin: 0;
    position: relative;
    z-index: 2;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.ai-component-container {
    width: 100%; /* Full width */
    position: relative; /* Position relative for stacking context */
    margin-top: -70px; /* Negative margin to pull it up */
    z-index: 1; /* Ensure it sits above the hero section */
    padding: 20px; /* Optional: padding for the AI component */
}

.next-section {
    padding: 40px 20px; /* Increased padding for the next section */
    background-color: #f9f9f9; /* Light background for contrast */
    width: 100%; /* Full width for the section */
    text-align: center; /* Center text */
    border-top: 1px solid #ddd; /* Divider line above the section */
}

.dash {
    padding-top: 100px;
}