.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Padding for the navbar */
    position: fixed; /* Fixed position to stay at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
}

.menu-bar {
    border-radius: 25px;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 36px 0 0 0; /* Margin for spacing */
}

.nav-links {
    list-style: none; /* Remove bullet points */
    display: flex; /* Flexbox for horizontal layout */
    justify-content: space-between; /* Spread items evenly */
    width: 100%; /* Full width */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav-links li {
    position: relative; /* Required for the pseudo-element */
    color: white; /* Text color for links */
    font-family: sans-serif;
    font-weight: bold;
    padding: 6px 12px; /* Padding for clickable area */
    margin: 0 8px; /* Margin between items */
    cursor: pointer;
    white-space: nowrap; /* Prevent text wrapping */
}

.nav-links li a {
    color: #fff; /* White text color for links */
    text-decoration: none; /* Remove underline */
    padding: 12px 16px; /* Padding for clickable area */
    display: block; /* Make the entire area clickable */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-links li a:hover {
    color: #000; /* Black text on hover/active */
}

li.active::before,
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li:hover a{
    color: black;
}


.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    transform: scale(1.2);
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links li a {
        padding: 8px 12px; /* Smaller padding on mobile */
        font-size: 14px; /* Smaller font size on mobile */
    }
    .nav-links li {
        padding: 0;
    }
}
